__pycache__/
*.pyc
*.egg-info/
dist/
build/

**/target/
/*/tools/
/*/image
/*/image.efi
/*/image.raw
/*/image.initrd
/*/image.vmlinuz

# mkosi build outputs (named after --image-id)
images/*/tools/
images/*/*.efi
images/*/*.initrd
images/*/*.vmlinuz
images/*/guest-*
images/*/host-*

results/
artifacts/
