[Unit]
Description=Run Beacon report to publish certificate
DefaultDependencies=no
Wants=test.target
After=test.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/scripts/beacon-report.sh
StandardOutput=journal
StandardError=journal
